services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: lazycreator-backend
    env_file:
      - ./backend/app/.env
    expose:
      - "8000"
    networks:
      - app-network
    restart: unless-stopped

  frontend-build:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: lazycreator-frontend-build
    volumes:
      - ./frontend/dist:/app/dist
    networks:
      - app-network
    restart: "no"

  proxy:
    build:
      context: .
      dockerfile: Dockerfile.proxy
    container_name: lazycreator-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/dist:/usr/share/nginx/html   # serve frontend build
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    networks:
      - app-network
    depends_on:
      - backend
    restart: unless-stopped
    command: >
      /bin/sh -c "
        echo 'Starting proxy...';
        if [ ! -f /etc/letsencrypt/live/lazycreator.in/fullchain.pem ]; then
          echo 'No certificate found. Generating a self-signed certificate...';
          mkdir -p /etc/letsencrypt/live/lazycreator.in;
          openssl req -x509 -nodes -newkey rsa:2048 -days 1 \
            -keyout /etc/letsencrypt/live/lazycreator.in/privkey.pem \
            -out /etc/letsencrypt/live/lazycreator.in/fullchain.pem \
            -subj '/CN=localhost';
        fi;
        echo 'Starting Nginx...';
        nginx -g 'daemon off;' &
        echo 'Starting certificate watcher...';
        while true;
          do
            inotifywait -e create,modify,delete -r /etc/letsencrypt/live/lazycreator.in;
            echo 'Certificate files changed. Reloading Nginx.';
            nginx -s reload;
          done
      "

  certbot:
    image: certbot/certbot
    container_name: lazycreator-certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
    entrypoint: >
      sh -c "
        sleep 10;
        while ! certbot certonly --webroot -w /var/www/certbot --email adhbutg@gmail.com --agree-tos --no-eff-email -d lazycreator.in; do
          echo 'Certbot failed. Retrying in 5 seconds...'
          sleep 5
        done
        trap exit TERM; while :; do 
          certbot renew --webroot -w /var/www/certbot; 
          sleep 12h & wait $${!}; 
        done
      "

networks:
  app-network:
    driver: bridge
