# Credentials
client_secret.json
google_credentials.json
token.pickle
Credentials/
# Environment variables
.env

# Virtual environment
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
MongoDBData/
logs/

# Output directories
ai_shorts_output/
local_storage/

# Large binary files
ffmpeg/

# IDE files
.vscode/
lazycreator-1.json